{% extends "frontendindex.html.twig" %}

{% block title %}  {% endblock %}
{% block keywords %}  {% endblock %}
{% block description %} {% endblock %}

{% block body %}
{% include "front_end/slider.html.twig" %}


 <!-- Start latest news -->
  <section id="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Featured Airports</h2>
            <span class="line"></span>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="latest-news-content">
            <div class="row">
            {% for stations in stations %}
              <!-- start single latest news -->
              <div class="col-md-4">
                <article class="blog-news-single">
                  <div class="blog-news-img">
                    <a href="/stations/{{ stations.id }}"><img src="{{ asset('uploads/images/' ~ stations.image) }}" style="height: 270px; width= 480px"></a>
                  </div>
                  <div class="blog-news-title">
                    <h2><a href="/stations/{{ stations.id }}">{{ stations.title}}</a></h2>
                    <p>{{ stations.description }}</p>
                  </div>
                  <div class="blog-news-details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                    <a class="blog-more-btn" href="/stations/{{stations.id}}"> Make reservation <i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </article>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest news -->


{% endblock %}