{% extends 'frontendindex.html.twig' %}

{% block title %} Station List{% endblock %}

{% block body %}


  <!-- Start single page header -->
  <section id="single-page-header">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>Make Reservation in {{ station[0].title }}</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-right">
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Blog Single</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->

  
  <section id="blog-archive">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-archive-area">
          {% for station in station %} 
           
              <article class="blog-news-single">
                    <div class="blog-news-details blog-single-details">
                      <h4> Country: {{ station.country }} <h4>
                      <p> {{ station.title }} </p>
                      <div class="blog-single-bottom">
                        <div class="row">
   <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Stationid</th>
                <th>Price</th>
                <th>Status</th>
                <th>Transportcnt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.title }}</td>
                <td>{{ transport.stationid }}</td>
                <td>{{ transport.price }}</td>
                <td>{{ transport.status }}</td>
                <td>{{ transport.transportcnt }}</td>
                <td> <form action="{{path("user_reservations_new", {'sid': station.id, 'bid': transport.id })}}" method="post">
                      Departure Date <input type="date" id="departuretime" name="departuretime">
                      Ticket Count <input type="number" id="ticketcount" name="ticketcount">
                      <input type="submit" value="Book a Seat">
                </form></td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                                                                
                          <div class="col-md-12">
                            <div class="blog-single-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
            {% endfor %}
  </div>
</div>
</div>
</div>
</section>
{% endblock %}
